/* 
    SASS Theme Variables 
*/

$default_theme: 'sodimac-dark';
$primary_color: #222222;
$primary_Hue900_color: #151515;
$accent_color: #fcdd32;
$text_color: #FFF;

/* 
    SASS Mixins
*/
@mixin ribbon() {
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfVJREFUeNrk2ktLw0AUBeBpFCkiCIIi2IUSUXyAIlpj03/m3l/WPESpCoIgBgq6EAWhLopoNd6BWQkKJnPgDDNwNkIvfvTmZiZNoyxL9dsKw1BZWPeSlrK/jiUnP/9YFMWfHwoUdrVAWL3yKh9CgyNQ3TEruAuqeyUZMYKPmNoZDW5KdkG1E0bwgWQKVDtjBKPa+VEyYARHbO2MBseguikjeFWywDahkWBUO79J+ozgDqhu36C9Aed1CyDAM5JtxoGFAh9KJhhvSSgw6nY0MJsOOjBqQmc2itgGB6alKdsZAd6QzLFOaAQY1c4jc+inAyMP/GNGcJe5nW2D9bW75hNYT+cGAFvamtC2wah2vpW8MIKpNxy2wXrv3GbecNgG75hTkjffMOr+O5TcMIKR1+8XIzh2oZ1tgRclKz6BUdfvp+SUEYx6YHctefUJnCOK1gXrXwf3QOCUEayxTZ/AqHZ+ltwxglETOgPVpQUnjOBlyZJLE7ouGLV//pCcM4JR7XyhKr6DhQY7c2CwAZ42h36nrt864H3JJOh/6jGCUU8oH0zowJGL7cwI7jGC1yXzLk7oqmDU/Ve/jnTJCEa185nknREcu9rOVcCzkk1XJ3QVcFvh3t5LGMGodtZPN54YwR2X2/m/4EDhfhJNGcFbZmg5Df4WYAAgNVhzBbE+eAAAAABJRU5ErkJggg==');
    /*
    background-image: url(/bundles/app/css/images/ribbon.png);
    */
    background-repeat: repeat-x;
    background-size: 5px 5px;
}

@mixin text-shadow($hAxis:2px, $vAxis:2px, $blur:0px, $color:#000) {
    text-shadow: $hAxis $vAxis $blur $color;
}

@mixin box-shadow($size) {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 $size 4px 0 rgba(0, 0, 0, .14), 0 $size $size -2px rgba(0, 0, 0, .12)
}

@mixin grayscale {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@mixin transform($value) {
    -ms-transform: $value;
    /* IE 9 */
    -webkit-transform: $value;
    /* Chrome, Safari, Opera */
    transform: $value;
}
